<strong>Olá, {{deliverymanName}} </strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Número da encomenda: </strong> {{deliveryId}} <br />
  <strong>Nome do destinatário : </strong> {{recipientName}}<br />
  <br />
</p>
